<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">YelpCamp</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav navbar-right">
        <li><a href="/">Login</a></li>
        <li><a href="/">SignUp</a></li>
        <li><a href="/">LogOut</a></li>
      </ul>
    </div>
  </div>
</div>
