<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">YelpCamp</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav navbar-right">
        <%if(!currentUser){ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">SignUp</a></li>

        <% }else{ %>
        <li><a href="#">Signed in as <%= currentUser.username %></a></li>
        <li><a href="/logout">LogOut</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>